<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @super_d_upload.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @super_d_upload.body %>
</p>

<%= link_to 'Edit', edit_super_d_upload_path(@super_d_upload) %> |
<%= link_to 'Back', super_d_uploads_path %>
